#
# OpenWrt自定义配置
#
#------------------机型选择------------------
# 编译x86固件 _搜索显示CONFIG_TARGET部分
CONFIG_TARGET_x86=y
CONFIG_TARGET_x86_64=y
CONFIG_TARGET_x86_64_DEVICE_generic=y

 编译N1固件
CONFIG_TARGET_armvirt=y
CONFIG_TARGET_armvirt_64=y
CONFIG_TARGET_armvirt_64_Default=y

# 编译_竟斗云固件
CONFIG_TARGET_ipq40xx=y
CONFIG_TARGET_ipq40xx_generic_DEVICE_p2w_r619ac-128m=y

#------------------固件压缩------------------

#------------------固件大小------------------
CONFIG_TARGET_KERNEL_PARTSIZE=64
CONFIG_TARGET_ROOTFS_PARTSIZE=100

#------------------UEFI启动------------------
CONFIG_GRUB_IMAGES=y
CONFIG_GRUB_EFI_IMAGES=y
CONFIG_VMDK_IMAGES=y
CONFIG_TARGET_ROOTFS_TARGZ=n

#------------------多文件系统支持------------

#------------------IPV6支持------------------
CONFIG_IPV6=y
CONFIG_PACKAGE_dnsmasq_full_dhcpv6=y
CONFIG_PACKAGE_ipv6helper=y
CONFIG_PACKAGE_odhcp6c=y
CONFIG_PACKAGE_odhcpd-ipv6only=y
CONFIG_PACKAGE_luci-proto-ipv6=y
CONFIG_PACKAGE_kmod-ipt-nat6=y
CONFIG_PACKAGE_ipv6helper=y
CONFIG_PACKAGE_kmod-ip6tables=y
CONFIG_PACKAGE_kmod-ip6tables-extra=y
CONFIG_PACKAGE_6in4=y
#------------------USB3.0支持----------------

#------------------无线驱动------------------

#------------------常用插件------------------
CONFIG_PACKAGE_luci-app-adbyby-plus
CONFIG_PACKAGE_Adguardhome
CONFIG_PACKAGE_luci-app-aria2
CONFIG_PACKAGE_luci-app-arpbind
CONFIG_PACKAGE_luci-app-autoreboot
CONFIG_PACKAGE_luci-app-baidupcs-web
CONFIG_PACKAGE_luci-app-ddns
CONFIG_PACKAGE_luci-app-dockerman
CONFIG_PACKAGE_luci-app-filetransfer
CONFIG_PACKAGE_luci-app-firewall
CONFIG_PACKAGE_luci-app-ipsec-vpnd
CONFIG_PACKAGE_jd-dailybonus
CONFIG_PACKAGE_luci-app-netdata
CONFIG_PACKAGE_luci-app-nlbwmon
CONFIG_PACKAGE_openclash
CONFIG_PACKAGE_passwall
CONFIG_PACKAGE_pptp-server
CONFIG_PACKAGE_luci-app-qbittorrent
CONFIG_PACKAGE_luci-app-ramfree
CONFIG_PACKAGE_luci-app-serverchan    #微信推送
CONFIG_PACKAGE_luci-app-sfe
CONFIG_PACKAGE_luci-app-SSR-plus
CONFIG_PACKAGE_luci-app-syncdial
CONFIG_PACKAGE_luci-app-ttyd
CONFIG_PACKAGE_luci-app-unblockmusic
CONFIG_PACKAGE_luci-app-upnp
CONFIG_PACKAGE_luci-app-vlmcsd
CONFIG_PACKAGE_luci-app-vsftpd
CONFIG_PACKAGE_luci-app-webadmin
CONFIG_PACKAGE_luci-app-wol
CONFIG_PACKAGE_luci-app-wrtbwmon
CONFIG_PACKAGE_luci-app-xlnetacc
CONFIG_PACKAGE_ luci-app-zerotier
#------------------LuCI主题------------------
CONFIG_PACKAGE_luci-theme-atmmaterial=y
CONFIG_PACKAGE_luci-theme-bootstrap=y
CONFIG_PACKAGE_luci-theme-material=y

#------------------命令及其他------------------

# =================固件定制部分结束============
